

#background {
    margin-top: 5%;
    background-color: rgb(87, 73, 73);

}
footer {
text-align: center;
}

#resume {
text-align: center;
}

/* .floated {
    float: left;
    width: 350px;
    padding-right: 1em;
}

.buddies {
    float: right;
    width: 250px;
    padding-right: 1em;
}

.col {
    float:left ;
    padding: 5px;
}

.ladylove {
    width: 250px;
    padding: 50px;
}

.bear {
    width: 250px;
    padding: 50px;
}

.camping {
    width: 250px;
    padding: 50px;
}

.links:visited {
    color: purple;
}

.links:hover {
    color: gray;
}

ul {
    list-style-type: none;
}
*/

.facebook {
    height: 20px;
    width: 20px;
}

.linkedin {
    height: 20px;
    width: 20px;
}

.github{
    height: 20px;
    width: 20px;
}

body {
    background-color: rgba(71, 69, 69, 0.158);
    margin: auto;
}
.card {
    text-align: center;
}
h1 {
    font-size: large;
} */